/**************************
Color Variables
***************************/

 :root {
    --primary_text: #0085FF;
    --secondary_text: #333;
    --accent_text: #666;
}


/**************************
FONTS 
***************************/

@font-face {
    font-family: "Inter Regular";
    src: url("../fonts/Inter-Regular.ttf");
}

@font-face {
    font-family: "Inter Medium";
    src: url("../fonts/Inter-Medium.ttf");
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    overflow-y: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
p,
li,
span {
    font-family: 'Inter Regular', sans-serif !important;
}


/**************************
Header Section CSS
***************************/

.main_header {
    background: #fff;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.main-header-content {
    display: flex;
    align-items: center
}

.main-header-content .navbar_brand {
    display: block;
}

.main-header-content .navbar_brand img {
    padding: 14px 15px 14px 17px;
    border-right: 1px solid #eee;
}

.main-header-content #searchfield {
    background-image: url('../images/search.svg');
    background-repeat: no-repeat;
    background-position: left center;
    width: 496px;
    font-size: 12px;
    padding: 9.3px 9.3px 9.3px 14.3px;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    margin-left: 16px;
    box-shadow: 1px 2px 3px #ccc;
    background-size: 21px;
}

.main_header .inline-icons {
    display: flex;
    flex-direction: row;
}

.main_header .inline-icons img {
    width: 20px;
    margin-left: 14px;
}

.main_header .inline-icons img.rounded_bg {
    border-radius: 50%;
    width: unset !important;
    margin-right: 16px;
}

.main-header-content {
    flex: 1 0 auto;
}

.wrap-whole {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 100vh;
}


/**************************
Sidebar Section CSS
***************************/

.vertical-nav-bar {
    display: flex;
    flex: 0 0 62px;
    flex-flow: column nowrap;
    text-align: center;
    z-index: 30;
    border-right: 1px solid #EAEAEA;
    padding: 1rem 0 0 0;
    justify-content: flex-start;
}

.main_nav_link li {
    padding: 10px 13px;
}

.main_nav_link li.active {
    background: #EDF4FD;
    border-left: 3px solid var(--primary_text);
}

.main_nav_link li.active a {
    color: var(--primary_text);
}

.main_nav_link a {
    font-weight: 400;
    font-size: 11px;
    line-height: 10.89px;
    color: #666666;
    text-decoration: none;
}

.main_nav_link a div {
    margin-top: 5px;
}


/**************************
Main Content CSS
***************************/

.container__main {
    flex: 1 1 auto;
    overflow-y: auto;
    position: relative;
}


/**************************
BreadCrumb Section CSS
***************************/

ul.breadcrumb_container {
    padding: 4px 16px;
    list-style: none;
    border-bottom: 1px solid #eee;
}

ul.breadcrumb_container li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb_container li+li:before {
    padding: 8px 12px;
    content: url(../images/arrow.svg);
}

ul.breadcrumb_container li a {
    color: var(--accent_text);
    text-decoration: none;
    font-size: 12px;
    text-decoration: none;
}

ul.breadcrumb_container li a.active {
    color: var(--secondary_text);
    font-family: 'Inter Medium', sans-serif !important;
}


/**************************
Folder Section CSS
***************************/

.folder_container {
    margin: 21px 24px;
    display: flex;
    flex-wrap: wrap;
}

.folder_content {
    display: flex;
    flex-direction: column;
    width: 170px;
    border-radius: 5px;
    border: 1px solid #F1F1F1;
    padding: 10px 11px;
    margin: 0 10px 10px 0;
}

.folder_content .first_row,
.folder_content .second_row {
    display: flex;
    flex-direction: row;
}

.folder_content .first_row img {
    width: 18px;
}

.folder_content .right_icon img {
    cursor: pointer;
}

.folder_content .first_row p {
    color: var(--secondary_text);
    font-size: 13px;
    justify-content: space-evenly;
    line-height: 34px;
    margin-left: 12px;
}

.folder_content .first_row span {
    color: #7D7D7D;
    font-size: 12px;
    line-height: 34px;
    margin-left: 22px;
}

.folder_content .second_row {
    justify-content: space-between;
}


/**************************
Sidebar Section CSS
***************************/

.side_detail_bar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 95px;
    background-color: #fff;
    overflow-x: hidden;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .15)!important;
    padding: 18px 0;
}

.side_detail_bar .closebtn img {
    position: absolute;
    top: 20px;
    right: 16px;
    font-size: 36px;
    margin-left: 50px;
}

.side_detail_bar .title {
    display: flex;
    margin-bottom: 17px;
    padding-left: 20.3px;
}

.side_detail_bar .title img {
    width: 19px;
    margin-right: 10.25px;
    margin-left: 3px;
}

.side_detail_bar .title p {
    font-size: 12px;
    font-family: 'Inter Medium', sans-serif !important;
    color: #5F5F60;
    line-height: 21px;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

.side_detail_bar {
    right: 0;
}

@media screen and (max-height: 450px) {
    .side_detail_bar {
        padding-top: 15px;
    }
    .side_detail_bar a {
        font-size: 18px;
    }
}


/**************************
Sidebar Tab section css
***************************/

.sidetabsection .tabs {
    display: flex;
    flex-wrap: wrap;
}

.sidetabsection .tabs label {
    order: 1;
    display: block;
    margin-right: 0.2rem;
    cursor: pointer;
    color: var(--accent_text);
    transition: background ease 0.2s;
    font-family: 'Inter Regular', sans-serif !important;
    font-size: 12px;
    margin-right: 19.52px;
}

.sidetabsection .tabs input[type="radio"]+.detail_label {
    margin-left: 16.48px;
}

.sidetabsection .tabs .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    margin-bottom: 3px;
    background: #fff;
    border-top: 1px solid #EAEAEA;
}

.sidetabsection .tabs input[type="radio"] {
    display: none;
}

.sidetabsection .tabs input[type="radio"]:checked+label {
    font-family: 'Inter Medium', sans-serif !important;
    color: var(--primary_text);
    border-bottom: 2px solid var(--primary_text);
}

.sidetabsection .tabs input[type="radio"]:checked+label+.tab {
    display: block;
}

.tab_content_list {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    justify-content: space-between;
    margin-top: 15px;
    padding: 0 15px 0 16px;
}

.tab_content_list .align_left {
    color: var(--accent_text);
}

.tab_content_list .align_right {
    color: var(--secondary_text);
    font-family: 'Inter Medium', sans-serif !important;
}

.sidetabsection .comment {
    padding-bottom: 16px;
    border-bottom: 1px solid #EAEAEA;
}

.sidetabsection .comment .profile {
    display: flex;
    padding-left: 14.57px;
}

.sidetabsection .comment .profile_info {
    margin-top: 7px;
}

.sidetabsection .comment .profile p:first-child {
    color: #111827;
    font-family: 'Inter Medium', sans-serif !important;
    font-size: 12px;
}

.sidetabsection .comment .profile p:last-child {
    color: #6B7280;
    font-family: 'Inter Regular', sans-serif !important;
    font-size: 12px;
}

.sidetabsection .comment .cmt_txt {
    color: #374151;
    font-size: 12px;
    margin-top: 2px;
    padding: 0 11px 0 16px;
}

.profile_img_conatiner {
    position: relative;
    top: 0;
    left: 0;
}

.profile_img_conatiner .msg_img {
    position: absolute;
    top: 20px;
    left: 21px;
    background: #fff;
    width: 12px;
}


/*********************/

@media (max-width: 45em) {
    .sidetabsection .tabs label {
        margin-right: 0;
        margin-top: 0.2rem;
        padding: 1rem 2rem;
    }
}